<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <h1>Quintin Wu</h1>
    <p>This is a paragraph sample for Info3180 Lab1 created by Quintin Wu.This is a paragraph sample for Info3180 Lab1 created by Quintin Wu.This is a paragraph sample for Info3180 Lab1 created by Quintin Wu. </p>
    <img src="{{ url_for('static',filename='py.png') }}" />
</body>
</html>